@model EditItemViewModel
@{
    ViewData["Title"] = "Update";
}


<form asp-action="Update" asp-controller="Items" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group pt-4">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control">
                    <option value="">Select a category</option>
                </select>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" type="file" class="form-control" id="cover" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-light text-black mt-4">Save</button>
        </div>
        <div class="col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
            <img alt="Image" class="cover-preview" src="@($"{FileSettings.FilePath}/{Model.CurrentImage}")"/>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/imageupload.js" asp-append-version="true"></script>
}